
// Min
@mixin up-568 {
    @media screen and (min-width: 568px) {
        @content;
    }
}
@mixin up-768 {
    @media screen and (min-width: 768px) {
        @content;
    }
}
@mixin up-992 {
    @media screen and (min-width: 992px) {
        @content;
    }
}
@mixin up-1024 {
    @media screen and (min-width: 1024px) {
        @content;
    }
}
@mixin up-1200 {
    @media screen and (min-width: 1200px) {
        @content;
    }
}
@mixin up-1600 {
    @media screen and (min-width: 1600px) {
        @content;
    }
}

// Max
@mixin down-568 {
    @media screen and (max-width: 568px) {
        @content;
    }
}
@mixin down-768 {
    @media screen and (max-width: 768px) {
        @content;
    }
}
@mixin down-992 {
    @media screen and (max-width: 992px) {
        @content;
    }
}
@mixin down-1024 {
    @media screen and (max-width: 1024px) {
        @content;
    }
}
@mixin down-1200 {
    @media screen and (max-width: 1200px) {
        @content;
    }
}
@mixin down-1600 {
    @media screen and (max-width: 1600px) {
        @content;
    }
}

@mixin size ($w, $h) {
    width: $w;
    height: $h;
}

@mixin equal-size ($s) {
    width: $s;
    height: $s;
}

@mixin trans {
    transition: all 250ms;
}


@mixin imgCover {
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

