// Text sizes
$text-normal: 1.2em;
$text-sm: .8em;
$text-md: 1.5em;
$text-lg: 2em;

// Radius
$radius: 1em;
$radius-lg: 5em;

// Colors
$primary: #0e1830;
$primary-light: lighten($primary, $amount: 70);

$secondary: #e3514c;
$secondary-light: lighten($secondary, $amount: 90);
$secondary-light2: lighten($secondary, $amount: 38);

$primary-text: #161a23;
$secondary-text: #fdf4e6;

$green: #00C853;
$red: #FF1744;
$orange: #FF6D00;
$gray: #E0E0E0;


// Utils
$transition: all 250ms;

$shadow-sm-primary: 0 8px 10px rgba($primary, .04);
$shadow-sm-secondary: 0 8px 10px rgba(darken($secondary, $amount: 60), .2);