// Text sizes
$text-normal: 1.2em;
$text-sm: .8em;
$text-md: 1.5em;
$text-lg: 2em;

// Radius
$radius: 1em;
$radius-lg: 5em;

// Colors
$primary: #404dff;
$green: #00C853;
$red: #FF1744;
$orange: #FF6D00;
$gray: #E0E0E0;


// Utils
$transition: all 250ms;