@import 'fonts';
@import 'vars';
@import 'mixins';

body {
    line-height: 26px;
    font-size: $text-normal;
    font-family: 'Anjoman';
    text-align: right;
    background: #111;
    color: #fff;
}

.opa-5 {
    opacity: .5;
}

// Banner
// -----------------------------
.banner {
    width: 100%;
    border-radius: $radius;
    overflow: hidden;

    img {
        width: 100%;
    }
}


// Book List
// -----------------------------
.book-list {
    &:hover {
        .book-card {
            &-cover {
                opacity: .2;
            }
        }
    }
}


// Book Card
// -----------------------------
.book-card {
    text-align: center;
    margin-bottom: 2.5em;
    cursor: pointer;

    &-cover {
        background: #222;
        border-radius: $radius;
        width: 100%;
        min-height: 150px;
        margin-bottom: 1em;
        overflow: hidden;
        border: 1px solid #000;
        transition: $transition;

        img {
            width: 100%;
        }
    }

    &-title {
        font-weight: bold;
    }

    &-author {
        font-size: $text-sm;
        opacity: .7;
    }

    &:hover {
        .book-card-cover {
            opacity: 1;
        }
    }
}


// Categories
// -----------------------------
.categories {
    display: flex;
    justify-content: center;
    margin: 2em 0;
    flex-wrap: wrap;

    .category {
        label {
            user-select: none;
            border: 1px solid #222;
            border-radius: 50px;
            margin: .5em;
            padding: .3em 1em .3em 1em;
            cursor: pointer;
            transition: $transition;

            &:hover {
                border-color: #999;
            }
        }

        input {
            display: none;

            &:checked {
                + label {
                    border-color: $primary
                }
            }
        }
    }
}


// Book info (modal)
// -----------------------------
.book-info-modal {
    z-index: 8;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(#444, .4);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    padding: 5em 0;
    @include size(100%, 100%);

    .content {
        background: #111;
        overflow: hidden;
        overflow-y: scroll;
        padding: 4em;
        position: relative;
        display: flex;
        border-radius: $radius;
        @include size(60%, auto);
        
        .closeBtn {
            position: fixed;
            right: 25px;
            top: 40px;
            z-index: 9;
            background: #FFCDD2;
            @include size(60px, 60px);
            border-radius: 100%;
            padding: 5px 0 0 0;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0;
            font-size: 1.5em;
            color: #000;

            &:hover {
                background: #FF5252;
                color: #fff;
            }
        }

        .cover {
            position: sticky;
            top: 0;

            img {
                border-radius: $radius;
            }
        }

        ul {
            padding: 0;

            li {
                list-style: none;
                padding: .5em 0;
                border-bottom: 1px solid rgba(#fff, .1);

                small {
                    display: block;
                    margin-bottom: 0.5em;
                }

                &:last-child {
                    border-bottom: 0;
                }
            }
        }

        @include down-768 {
            display: block;

            .cover {
                position: static;
                display: flex;
                justify-content: center;
                margin-bottom: 2em;
            }
        }
    }

    @include down-992 {
        align-items: flex-end;
        padding: 0;

        .content {
            padding: 2em;
            @include size(100%, 90%);
            border-radius: $radius $radius 0 0;
        }
    }

}


// Pagination
// -----------------------------
.pagination {
    display: flex;
    justify-content: center;

    button {
        user-select: none;
        border: 0;
        border-radius: 50px;
        margin: .5em;
        padding: .3em 1em .3em 1em;
        cursor: pointer;
        transition: $transition;

        &.inactive {
            pointer-events: none;
            opacity: .2;
        }

        &:hover:not(.inactive) {
            transform: scale(1.05);
        }

        &:focus {
            outline: none;
        }
    }
}


// Authentication
// -----------------------------
.auth-card {
    background: #000;
    border: 1px solid rgba(#fff, .1);
    border-radius: $radius;
    padding: 2em;

    .form-control {
        background: #111;
        border: 0;
        direction: ltr;
        text-align: left;
        color: #999;

        &:focus {
            box-shadow: none;
            background: #222;
        }
    }
}